.navbar {
    background-color: #fced08;
    padding: 30px;
} 
.eat {
    color: black;
    font-size: 110px;
    text-align: center;
    padding: 1px;
    margin: auto;
}
.navclick {
    color:black;
    margin: 1px;
    padding: 3px;
    font-size: 25px;
}
.navclick:hover {
    background-color:#FCC119; 
    border-radius: 15px;   
}
.home {
    color:black;
    margin: 1px;
    padding: 3px;
    font-size: 25px;
}
.home:hover {
    background-color: #FCC119;
}
.signup {
    color:black;
    margin: 1px;
    padding: 3px;
    font-size: 25px;
}
.signup:hover {
    background-color: #FCC119;
}
.favorites {
    color:black;
    margin: 1px;
    padding: 3px;
    font-size: 25px;
}
.favorites:hover {
    background-color:#FCC119;
}    
.your {
    color:black;
    padding: 1px;
    font-size: 60px;
    margin: auto;
}