.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: x-large;
  padding: 3px;
  margin: 5px;
}
.flex-container > div {
  width: 90%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
